{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.Lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="https://www.postman.com/galactic-station-814028/workspace/distributed-api-network-information/overview" role="button">Open Postman Public Workspace</a>
      <p class="meta">Open-source <a href="https://github.com/johncolmdoyle/postman-hackathon">GitHub</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Multi Region</h2>
        <p>Network tests are performed across 16 AWS regions.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Network Tests</h2>
        <p><a href="https://en.wikipedia.org/wiki/Nslookup">Nslookup</a>, <a href="https://en.wikipedia.org/wiki/WHOIS">WHOIS DB query</a>, <a href="https://www.w3schools.com/tags/ref_httpmethods.asp">GET HTTP request</a>, <a href="https://en.wikipedia.org/wiki/Traceroute">Traceroute</a>, <a href="https://en.wikipedia.org/wiki/Dig_(command)">DIG query</a></p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Visulize</h2>
        <p>Compare and contrast results from multiple regions to focus on unexpected discrepancies.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
